:root {
    --bg-color: #222;
    --bg-code: #111;
    --fg-color: #aaa;
    --fg-header: #a80;
    --fg-title: #bbb;
    --fg-hover: #ddd;
    --fg-dim: #666;
    --fg-highlight: #a80;
    --fg-highlight-hover: #b91;

    --content-width: 50vw;
    --footer-height: 30px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    color: var(--fg-color);
    background-color: var(--bg-color);
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    margin: 0 0 var(--footer-height);
}

a {
    color: var(--fg-highlight);
}

a:hover {
    color: var(--fg-highlight-hover);
}

#header {
    color: var(--fg-header);
    font-size: 1.5em;
    font-weight: bold;
}

#header a {
    color: var(--fg-header);
    text-decoration: none;
}

#lang-select {
    color: var(--fg-color);
    background-color: var(--bg-color);
    border: none;
    font-size: 0.8em;
    position: fixed;
    min-width: 3em;
    right: 1em;
    top: 1em;
}

#footer {
    position: absolute;
    height: var(--footer-height);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 0.8em;
}

#content {
    width: var(--content-width);
    min-width: 500px;
    max-width: 20cm;
    display: inline-block;
    padding: 1em;
}

#content {
    text-align: left;
}

#content img {
    display: inline-block;
    margin: 0.5em 0;
    vertical-align: top;
}

#content h1 {
    color: var(--fg-title);
    font-size: 2em;
    font-weight: bold;
}

#content pre {
    background-color: var(--bg-code);
    padding: 0.5em;
    border: 2px solid black;
    width: 100%;
    max-height: 40vh;
    overflow: scroll;
    scrollbar-color: var(--fg-dim) var(--bg-color);
}

#content pre::-webkit-scrollbar {
    width: 1em;
}
#content pre::-webkit-scrollbar-thumb {
    background: var(--fg-dim);
}
#content pre::-webkit-scrollbar-corner,
#content pre::-webkit-scrollbar-track {
    background: var(--bg-color);
}

#content h1 + h2 {
    color: var(--fg-dim);
    text-decoration: none;
    font-weight: normal;
    font-size: 1em;
    position: relative;
    top: -20px;
}

#content .post img {
    width: 100%;
    max-height: calc(var(--content-width) * 3 / 4);
    object-fit: cover;
    object-position: center;
}

#content .post a {
    text-decoration: none;
}

#content .post a:hover h1 {
    color: var(--fg-hover);
}
